.header .divider-vertical {
	height: 54px;
}

.header .navbar-inner {
	border-radius: 0;
}

.header .navbar {
	margin-bottom: 0;
}

.navbar-inner {
  position: relative;
  z-index: 3;
}

.row-fluid .header {
	position: relative;
}

.header .tablets {
	position: absolute;
	top: 55px;
	left: 150px;
	z-index: 2;
}
