html, body {
  height: 100%;
}

body {
  background: #222;
  background-image: url('slide_editor/linen-lighter.png');
}

.raise {
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px;
}

.container-fluid {
  padding: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn-plast {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #666670, #46464d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666670), to(#46464d));
  background-image: -webkit-linear-gradient(top, #666670, #46464d);
  background-image: -o-linear-gradient(top, #666670, #46464d);
  background-image: linear-gradient(to bottom, #666670, #46464d);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-plast:hover,
.btn-plast:active,
.btn-plast.active,
.btn-plast.disabled,
.btn-plast[disabled] {
  color: #ffffff;
  background-color: #46464d;
  *background-color: #151515;
}

.btn-plast:active,
.btn-plast.active {
  background-color: #080808 \9;
}

.pointer {
	cursor: pointer;
}
/*
-webkit-linear-gradient(top, #494852, #2A2A30)
*/
.navbar-inverse .navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #494852, #2A2A30);
  background-image: -ms-linear-gradient(top, #494852, #2A2A30);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#494852), to(#2A2A30));
  background-image: -webkit-linear-gradient(top, #494852, #2A2A30);
  background-image: -o-linear-gradient(top, #494852, #2A2A30);
  background-image: linear-gradient(top, #494852, #2A2A30);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#494852', endColorstr='#2A2A30', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.nav .dropdown-toggle .caret {
margin-top: 6px;
border-top-color: #000;
border-bottom-color: #000;
}

.iconBtns i {
  display: block;
  margin: 0 auto;
}

.iconBtns {
  margin-bottom: 5px;
}

.iconBtnsSplit {
  height: 44px;
}

.dispNone {
  display: none;
}

.nav .dropdown-toggle .whiteCaret {
  border-top-color: white;
  border-bottom-color: white;
}