.horizontalDropdown > li {
	float: left;
}

.popover {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 6px;

	background-color: #2c2c2c;
	color: white;
	width: 216px;
	padding: 5px 5px 5px 10px;
}

.popover input {
	margin-bottom: 5px;
}

.tablets-toggle {
	border-radius: 0 0 4px 4px;
	width: 100%;
	box-sizing: border-box;
}

.tablets-content > * {
	display: block;
	border-radius: 0;
}

.tablets-content > :last-child {
	border-radius: 0 0 4px 4px;
}

/*TODO: move tablets css*/
.tablets.hiding .tablets-content {
	height: 0px;
	overflow: hidden;
}

.tablets.showing .tablets-toggle {
	border-radius: 0;
}

.tablets.showing .caret {
	border-top: 0px;
	border-bottom: 4px solid;
  	border-right: 4px solid transparent;
  	border-left: 4px solid transparent;
}

.tablets .iconBtns {
	margin-bottom: 0px;
}