.horizontalDropdown > li {
	float: left;
}

.popover {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 6px;

	background-color: #2c2c2c;
	color: white;
	width: 216px;
	padding: 5px 5px 5px 10px;
}

.popover input {
	margin-bottom: 5px;
}