/* 
    Document   : rpi
    Created on : 27.05.2013, 14:49:33
    Author     : pro-ci
    Description:
        Purpose of the stylesheet follows.
*/

/* ==========================================================================
   basic styles
   ========================================================================== */

#artothek-header,
#artothek-footer
{
	position:fixed;
	height:80px;
	width:100%;
	background-color:#444444;
	color:#fff;
	pointer-events: auto;
}

/* ==========================================================================
   #artothek-header
   ========================================================================== */
#artothek-header
{
	top:0;
}

/* ==========================================================================
  #artothek-content-toolbar
   ========================================================================== */
#artothek-content-toolbar
{
	position:absolute;
	height:100%;
	width:100%;
	pointer-events: auto;
}

#artothek-content-toolbar
{

}

#artothek-content-toolbar #artothek-content-toolbar-previous,
#artothek-content-toolbar #artothek-content-toolbar-next
{
	bottom: auto;
    cursor: pointer;
    height: 100px;
    margin: auto;
    position: relative;
    top: 50%;
    vertical-align: text-top;
    width: 100px;
}

#artothek-content-toolbar #artothek-content-toolbar-previous
{
	background-color: red;
	float: left;
}

#artothek-content-toolbar #artothek-content-toolbar-next
{	
	background-color: green;
	float: right;
}

/* ==========================================================================
   #artothek-footer
   ========================================================================== */
#artothek-footer
{
	bottom:0;
}
