.component .label {
	visibility: hidden;
}

.component .content-scale {
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
}

.component.selected .label {
	visibility: visible;
}

.component .topLabel {
	position: absolute;
	left: 40%;
	top: -20px;
	cursor: w-resize;
}

.component .leftLabel {
	position: absolute;
	left: -35px;
	top: 40%;
	cursor: s-resize;
	transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}

.component .scale {
	position: absolute;
	right: -35px;
	bottom: -25px;
	cursor: se-resize;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.component .rightLabel {
	position: absolute;
	right: -45px;
	top: 50%;
	cursor: n-resize;
}

.component {
	position: absolute;
	line-height: normal;
	padding: 2px;
	cursor: pointer;
	margin: 0px;
}

.component {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.component.selected {
	border: 1px solid black;
}

.component.editable {
	cursor: auto;
	border: 0px;
	border: 2px solid red;
	-moz-user-select: text;
	-webkit-user-select: text;
}

.component .close-btn-red-20 {
	display: none;
	position: absolute;
	top: 0px;
	left: -7px;
}

.component:hover .close-btn-red-20 {
	display: inline;
}