.editor .temp > .container {
	margin-left: 30px;
	margin-right: 30px;
}

.editor .menuBar {
	height: 25px;
	position: relative;
}

.editor .menuBar > div {
	height: 25px;
}

.editor .manuBar > div > .container {
	height: 25px;
}

.menuBar .brand {
	padding: 2px 20px 2px;
	font-size: 18px;
}

.menuBar .nav > li > a {
	padding: 2px 10px 3px;
}

.editor .nav .active a:hover {
	background-color: gray;
}

.editor .nav li.open {
	background-color: gray;
}

.editor .navbar-inner {
	border-radius: 0px;
}

.editor .navbar-inner .btn-group {
	margin-bottom: 5px;
	margin-right: 4px;
}

.navbar {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
