.slideEditor {
	/*height: 100%;*/
}

.slideEditor .navbar .caret {
	margin-left: 2px;
}

.slideEditor div.newSlide {
	margin-left: 25px;
}

.slideEditor .btn-warning {
	font-size: 12px;
}

.slideEditor .btn .icon-arrow-right {
	margin-left: 8px;
	margin-right: -6px;
}

.slideEditor .mainContent {
	margin-top: -18px;
	/*height: 100%;*/
}

.slideEditor .slidePreviewPanel {
	width: 150px;
	height: 100%;
	float: left;
	border-right: 1px solid gray;
	background: #EEE;
}

.slideEditor .operatingTable {
	height: 100%;
	width: 100%;
	margin-left: 151px;
	position: absolute;
	overflow: hidden;
}

.slideEditor .divider-vertical {
	height: 51px;
}

.slideEditor .nav li { /* TODO: fixme */
	height: 52px;
}

.iconBtns i {
	display: block;
	margin: 0 auto;
}

.slideEditor .normalBtns {
	margin-top: 10px;
}

.lato { font-family:'Lato', sans-serif; }
.ubuntu { font-family:'Ubuntu', sans-serif; }
.abril { font-family:'Abril Fatface', cursive; }
.hammersmith { font-family:'Hammersmith One', sans-serif; }
.fredoka { font-family:'Fredoka One', cursive; }
.gorditas { font-family:'Gorditas', cursive; }
.pressstart { font-family:'Press Start 2P', cursive; }
