.transitionEditor {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 500;
	counter-reset: transSlide;
}

.transitionEditor .navbar {
	margin-bottom: 0px;
}

.transitionEditor .transitionSlides {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: -1;
	/*TODO: this would be replaced by the user's desired BG*/
	background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
	background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
	background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
	background: -o-radial-gradient(#F0F0F0, #BEBEBE);
	background: radial-gradient(#F0F0F0, #BEBEBE);
}

.transitionEditor .transitionSlideSnapshot .badge:before {
	counter-increment: transSlide;
	content: counter(transSlide);
}

.transitionEditor .buttonBar input {
	width: 40px;
	padding: 0px;
	margin-top: 10px;
}

.transitionEditor .buttonBar li {
	margin-right: 5px;
}