.slideTable {
	position: absolute;
	left: 0px;
	z-index: 1;
	top: 56px;
	bottom: 0px;
	right: 0px;
}

.cannedTransitionsView {
	padding: 80px;
	background: #EEE;
	background: whitesmoke;
	box-sizing: border-box;
}

.cannedTransitionsView .thumbnail {
	border-width: 2px;
}

.cannedTransitionsView .thumbnail:hover {
	border-color: #5BB75B;
}

.cannedTransitionsView .thumbnail.active {
	border: 2px solid #5BB75B;
	-webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	-moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
	box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

.bespoke-link {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 5px;
	background: #ccc;
}