.slideTable {
	position: absolute;
	left: 0px;
	z-index: 1;
	top: 56px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
}

.cannedTransitionsView {
	padding: 80px;
	background: #EEE;
	background: whitesmoke;
}