.slideTable {
	position: absolute;
	left: 150px;
	z-index: 1;
	top: 56px;
	bottom: 0px;
	right: 0px;
}

.cannedTransitionsView {
	position: absolute;
	left: 0;
	z-index: 1;
	top: 56px;
	bottom: 0px;
	width: 149px;
	background-image: url(img/linen-light.png);
	overflow-y: scroll;
	border-right: 1px solid black;
}

.cannedTransitionsView a {
	margin: 10px 0;
	display: block;
	transition: all 0.2s ease-in-out;
}

.cannedTransitionsView a:hover {
	background-color: rgba(91, 183, 91, .25);
}

.cannedTransitionsView a.active {
	background-color: rgba(91, 183, 91, .5);
}

.cannedTransitionsView img {
	max-width: 100%;
}