.root {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 80%;
  left: 10%;
  z-index: 99;
  padding: 20px;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
  /* 0 1px 2px rgb(0 0 0 / 10%); */
  border: 1px solid #efeef3;
}

.title {
  text-align: center;
}
