/*[class*="bg-solid"] {
	border: 1px solid rgba(0, 0, 0, .3);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .4);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}*/


.bg-default {
    background-color: #EEEEEE;
    /*
  background: -webkit-radial-gradient(#F0F0F0, #EEEEEE);
  background: -moz-radial-gradient(#F0F0F0, #EEEEEE);
  background: -ms-radial-gradient(#F0F0F0, #EEEEEE);
  background: -o-radial-gradient(#F0F0F0, #EEEEEE);
  background: radial-gradient(#F0F0F0, #EEEEEE);*/
}

/*
included for legacy support of old decks with the defaultbg attribute set.
*/
.defaultbg {
  background: -webkit-radial-gradient(#F0F0F0, #BEBEBE);
  background: -moz-radial-gradient(#F0F0F0, #BEBEBE);
  background: -ms-radial-gradient(#F0F0F0, #BEBEBE);
  background: -o-radial-gradient(#F0F0F0, #BEBEBE);
  background: radial-gradient(#F0F0F0, #BEBEBE);
}

.bg-solid-orange:hover, 
.bg-solid-orange {
	background-color: #774040 !important;
        background-image: none !important;
}

.bg-solid-black:hover, 
.bg-solid-black {
	background-color: #222 !important;
        background-image: none !important;
}

.bg-solid-light:hover,
.bg-solid-light {
	background-color: white !important;
        background-image: none !important;
}

.bg-solid-smoke:hover,
.bg-solid-smoke {
	background-color: #DDD !important;
        background-image: none !important;
}

.bg-solid-yellow:hover,
.bg-solid-yellow {
	background-color: #D1B377 !important;
        background-image: none !important;
}

.bg-solid-grass:hover,
.bg-solid-grass {
	background-color: #597847 !important;
        background-image: none !important;
}

.bg-solid-darkgreen:hover,
.bg-solid-darkgreen {
	background-color: #134952 !important;
        background-image: none !important;
}

.bg-solid-sky:hover,
.bg-solid-sky {
	background-color: #515E99 !important;
        background-image: none !important;
}

.bg-solid-lavender:hover,
.bg-solid-lavender {
	background-color: #443C4D !important;
        background-image: none !important;
}

.bg-solid-purple:hover,
.bg-solid-purple {
	background-color: #6C478F !important;
        background-image: none !important;
}

.bg-solid-salmon:hover,
.bg-solid-salmon {
	background-color: #C98D8D !important;
        background-image: none !important;
}

.nobg {
	background: url(img/nobg.png);
	background-size: 40px 40px;
}

.themeProviders .thumbnail {
	height: 20px;
	width: 20px;
	padding: 10px;
}
