.bindingDark {
	background: url(img/binding_dark.png);
}

.blackLozenge {
	background: url(img/black_lozenge.png);
}

.debutDark {
	background: url(img/debut_dark.png);
}

.escheresque {
	background: url(img/escheresque_ste.png);
}

.greyWashWall {
	background: url(img/grey_wash_wall.png);
}

.mochaGrunge {
	background: url(img/mochaGrunge.png);
}

.nastyFabric {
	background: url(img/nasty_fabric.png);
}

.wildOliva {
	background: url(img/wild_oliva.png);
}

.nobg {
	background: url(img/nobg.png);
	background-size: 40px 40px;
}

.themeProviders .thumbnail {
	height: 20px;
	width: 20px;
	padding: 10px;
}
