.bg-surf-grad-black , .bg-surf-grad-black:hover {
	background: #333 !important;
	/*background-image: -webkit-radial-gradient(#333, #111);
	background-image: -moz-radial-gradient(#333, #111);
	background-image: -ms-radial-gradient(#333, #111);
	background-image: -o-radial-gradient(#333, #111);
	background-image: radial-gradient(#333, #111);*/
}

.bg-surf-grad-light , .bg-surf-grad-light:hover {
	background: #FFF !important;
	/*background-image: -webkit-radial-gradient(#FFF, #DDD);
	background-image: -moz-radial-gradient(#FFF, #DDD);
	background-image: -ms-radial-gradient(#FFF, #DDD);
	background-image: -o-radial-gradient(#FFF, #DDD);
	background-image: radial-gradient(#FFF, #DDD);*/
}

.bg-surf-grad-smoke , .bg-surf-grad-smoke:hover {
	background: #EEE !important;
	/*background-image: -webkit-radial-gradient(#EEE, #CCC);
	background-image: -moz-radial-gradient(#EEE, #CCC);
	background-image: -ms-radial-gradient(#EEE, #CCC);
	background-image: -o-radial-gradient(#EEE, #CCC);
	background-image: radial-gradient(#EEE, #CCC);*/
}

.bg-surf-grad-orange , .bg-surf-grad-orange:hover {
	background: #945353 !important;
	/*background-image: -webkit-radial-gradient(#945353, #774040);
	background-image: -moz-radial-gradient(#945353, #774040);
	background-image: -ms-radial-gradient(#945353, #774040);
	background-image: -o-radial-gradient(#945353, #774040);
	background-image: radial-gradient(#945353, #774040);*/
}

.bg-surf-grad-yellow , .bg-surf-grad-yellow:hover {
	background: #cfb98c !important;
	/*background-image: -webkit-radial-gradient(#cfb98c, #D1B377);
	background-image: -moz-radial-gradient(#cfb98c, #D1B377);
	background-image: -ms-radial-gradient(#cfb98c, #D1B377);
	background-image: -o-radial-gradient(#cfb98c, #D1B377);
	background-image: radial-gradient(#cfb98c, #D1B377);*/
}

.bg-surf-grad-darkgreen , .bg-surf-grad-darkgreen:hover {
	background: #4a939e !important;
	/*background-image: -webkit-radial-gradient(#4a939e, #134952);
	background-image: -moz-radial-gradient(#4a939e, #134952);
	background-image: -ms-radial-gradient(#4a939e, #134952);
	background-image: -o-radial-gradient(#4a939e, #134952);
	background-image: radial-gradient(#4a939e, #134952);*/
}

.bg-surf-grad-sky , .bg-surf-grad-sky:hover {
	background: #5e699c !important;
	/*background-image: -webkit-radial-gradient(#5e699c, #515E99);
	background-image: -moz-radial-gradient(#5e699c, #515E99);
	background-image: -ms-radial-gradient(#5e699c, #515E99);
	background-image: -o-radial-gradient(#5e699c, #515E99);
	background-image: radial-gradient(#5e699c, #515E99);*/
}

.bg-surf-grad-lavender , .bg-surf-grad-lavender:hover {
	background: #554b61 !important;
	/*background-image: -webkit-radial-gradient(#554b61, #443C4D);
	background-image: -moz-radial-gradient(#554b61, #443C4D);
	background-image: -ms-radial-gradient(#554b61, #443C4D);
	background-image: -o-radial-gradient(#554b61, #443C4D);
	background-image: radial-gradient(#554b61, #443C4D);*/
}

.bg-surf-grad-purple , .bg-surf-grad-purple:hover {
	background: #775796 !important;
	/*background-image: -webkit-radial-gradient(#775796, #6C478F);
	background-image: -moz-radial-gradient(#775796, #6C478F);
	background-image: -ms-radial-gradient(#775796, #6C478F);
	background-image: -o-radial-gradient(#775796, #6C478F);
	background-image: radial-gradient(#775796, #6C478F);*/
}

.bg-surf-grad-salmon , .bg-surf-grad-salmon:hover {
	background: #cfa2a2 !important;
	/*background-image: -webkit-radial-gradient(#cfa2a2, #C98D8D);
	background-image: -moz-radial-gradient(#cfa2a2, #C98D8D);
	background-image: -ms-radial-gradient(#cfa2a2, #C98D8D);
	background-image: -o-radial-gradient(#cfa2a2, #C98D8D);
	background-image: radial-gradient(#cfa2a2, #C98D8D);*/
}

.bg-surf-grad-grass , .bg-surf-grad-grass:hover {
	background: #6c855d !important;
	/*background-image: -webkit-radial-gradient(#6c855d, #597847);
	background-image: -moz-radial-gradient(#6c855d, #597847);
	background-image: -ms-radial-gradient(#6c855d, #597847);
	background-image: -o-radial-gradient(#6c855d, #597847);
	background-image: radial-gradient(#6c855d, #597847);*/
}