@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }


html, body {
  font-family: "Lato", sans-serif;
  color: #333;
}

.themedArea {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333; }

.themedArea h1,
.themedArea h2,
.themedArea h3,
.themedArea h4,
.themedArea h5,
.themedArea h6 {
  margin: 0 0 20px 0;
  color: #333;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

.themedArea h1 {
   text-shadow: 0 1px 0 #666666, 0 2px 0 #5A5A5A, 0 3px 0 #494949, 0 4px 0 #4D4D4D, 0 5px 0 #494949, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}
