.operatingTable {
  webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);

  position: absolute;
  left: 150px;
  z-index: 1;
  top: 56px;
  bottom: 0px;
  right: 0px;
}

.operatingTable .slideContainer {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	
	margin: 10px auto;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.operatingTable .CodeMirror {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	margin: 10px auto;
}

.operatingTable [class*="span"] {
	float: none;
	margin-left: 0;
}

.operatingTable .tablets {
	position: absolute;
	top: 0px;
	left: 0px;
}

.tablets > div {
	border-radius: 0px 2px 2px 0px;
	background: #DDD;
	margin-top: 2px;
	padding: 0px 1px;
	cursor: pointer;
}

.tablets > div.active {
	background: #AAA;
	cursor: default;
}

.tablets > div:hover {
	background: #AAA;
}