.operatingTable {
  webkit-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.4);

  position: absolute;
  left: 150px;
  z-index: 1;
  top: 56px;
  bottom: 0px;
  right: 0px;
}

.operatingTable .slideContainer {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	
	margin: 10px auto;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}