.disp-none {
	display: none;
}

.underline {
	text-decoration: underline;
}

html, body, .editor {
	height: 100%;
	background: #222;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}