.root {
  position: absolute;
}

.editor_placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 15px;
  user-select: none;
  pointer-events: none;
}

.contentEditable {
  min-width: 10px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.selected {
  outline: 1px solid #000;
}
